.nw-select {
	border: 1px solid black;
	border-radius: 2px;
	position: relative;
	line-height: 40px;
	
	select {
		opacity: 0;
		position: absolute;
		z-index: 2;
		appearance: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.nw-select__value {
		padding-left: 15px;
	}
	
	&:after {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		border: 1px solid black;
		border-width: 0 1px 1px 0;
		transform: rotate(45deg);
		top: 50%;
		right: 15px;
		margin-top: -8px;
		z-index: 1;
	}
}

.wtf {}