.application,
body {
  background: $background;
  color: $color;
  font-family: $font-normal;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

input, textarea, keygen, select, button {
  display: flex;
  font-family: $font-normal;
  font-size: 1rem;
  padding: $spacing-small;
  margin: $spacing-small;
  border-radius: $radius-small;
  border: 0;
}

input, select {
  background: $background-alt;
  color: $color-alt;
  flex-grow: 2;
}

a {
  color: $active;
  text-decoration: none;
}

.button,
button {
  background: $active;
  color: $color-alt;
  padding: $spacing-small $spacing-normal;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    padding: $spacing-small;
    width: 20%;
    text-align: right;
  }
}

.navBar {
  background: $active-medium;
  color: $color;
  flex: none;
  box-shadow: $box-shadow;
  &.sideNav {
    background: $active-dark;
    text-align: right;
    a {
      color: $color;
      &:hover {
        background: $highlight;
      }
      &:active {
        background: $highlight;
        box-shadow: inset 0 $spacing-small 0 $active-dark;
      }
    }
  }

  .button,
  a {
    color: $color;
    background: transparent;
    padding: $spacing-large $spacing-normal;
    margin: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
      background: $highlight;
    }
    &:active {
      background: $highlight;
      font-weight: 600;
      box-shadow: inset 0 $spacing-extra-small 0 $active-dark;
    }
  }
  a.logo {
    padding: 0 $spacing-large;
    display: flex;
    img {
      height: 2.25rem;
      align-self: center;
    }
  }
}

.label {
  padding: $spacing-small;
  width: 15%;
}

.sectionHeader {
  font-weight: 600;
  font-size: 2rem;
  background: $highlight;
  padding: $spacing-small;
  box-shadow: $box-shadow;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: none;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  .cardContent {
    background: $background-alt;
    color: $color-alt;
    border-radius: $radius-normal;
    font-size: .9rem;
    padding: $spacing-small;
    margin: $spacing-small;
    flex: none;
    overflow: hidden;
    box-shadow: $box-shadow;
    .jobType {
      font-weight: 400;
      font-size: 1rem;
      margin: -.5vmax 0 $spacing-extra-small -.5vmax;
      padding: $spacing-small;
      flex-grow: 2;
      display: flex;
      width: 105%;
      background: $action;
      color: $color;
      &.pg {
        background: $pg;
        color: $color-alt;
      }
      &.um {
        background: $um;
      }
    }
  }
  &.jobCard {
    min-width: 320px;
    width: 33%;
    .label {
      width: 10%;
    }
  }
  &.detailsCard {
    min-width: 320px;
    max-width: 100%;
    .cardContent {
      font-size: 1.2rem;
      .jobType {
        font-size: 1.5rem;
      }
      .itemTag, .date, .time {
        font-size: 1rem;
      }
    }
  }
}

.itemTag, .date, .time {
  font-size: .8rem;
  border-radius: $radius-small;
  margin: $spacing-extra-small;
  padding: $spacing-extra-small;
  background: $disabled-light;
  flex: none;
}

.disabled {
  opacity: $disabled-element;
}

@media (max-width: 1042px) {
  .card {
    &.jobCard {
      width: 50%;
    }
  }
}
@media (max-width: 717px) {
  .card {
    &.jobCard {
      width: 100%;
    }
  }
}