.application,
body {
  background: $background;
  color: $color;
  font-family: $font-normal;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

a {
  color: $active;
  text-decoration: none;
}

.button {
  background: $active;
  color: $color-alt;
  border-radius: $radius-normal;
  padding: $spacing-large $spacing-normal;
  margin: $spacing-normal;
}

.navBar {
  background: $active-medium;
  color: $color;
  &.sideNav {
    background: $active-dark;
    text-align: right;
    a {
      color: $color;
      &:hover {
        background: $highlight;
      }
      &:active {
        background: $highlight;
        box-shadow: inset 0 $spacing-small 0 $active-dark;
      }
    }
  }

  .button,
  a {
    color: $color-alt;
    background: transparent;
    padding: $spacing-large $spacing-normal;
    margin: 0;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
      background: $highlight;
    }
    &:active {
      background: $highlight;
      box-shadow: inset 0 $spacing-small 0 $active-dark;
    }
  }
}

.sectionHeader {
  font-weight: 600;
  font-size: 2rem;
}

.card {
  background: $background-alt;
  color: $color-alt;
  border-radius: $radius-normal;
  padding: $spacing-small;
  margin: $spacing-small;
  &.jobCard {
    min-width: 250px;
    max-width: 400px;
    .jobType {
      font-weight: 600;
    }
    .itemTag, .date, .time {
      font-size: .8rem;
      border-radius: $radius-small;
      margin: $spacing-extra-small;
      padding: $spacing-extra-small;
      background: $disabled-light;
      flex: none;
    }
  }
}


.nw-select {
	border: 1px solid black;
	border-radius: 2px;
	position: relative;
	line-height: 40px;
	
	select {
		opacity: 0;
		position: absolute;
		z-index: 2;
		appearance: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	.nw-select__value {
		padding-left: 15px;
	}
	
	&:after {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		border: 1px solid black;
		border-width: 0 1px 1px 0;
		transform: rotate(45deg);
		top: 50%;
		right: 15px;
		margin-top: -8px;
		z-index: 1;
	}
}

.wtf {}